! jastronauts .Xresources

! fonts
!URxvt.font: xft:Inconsolata for Powerline:size 18
URxvt.font: xft:Fantasque Sans Mono:size=17
URxvt.letterSpace: 0

! URLs
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

! copy and pasta
URxvt.perl-ext-common: default,clipboard
!,tabbed

! misc stuff
URxvt.iso14755: false
URxvt.scrollBar: false
URxvt.internalBorder: 35
URxvt.externalBorder: 0
!URxvt*inheritPixmap:    false

dzen2.font: Fantasque Sans Mono:size=17
dzen2.foreground: #e8e6df
dzen2.background: #2d2d2d

#define COLOR0 #19201f
#define COLOR1 #799da0
#define COLOR2 #7393a0
#define COLOR3 #718fa0
#define COLOR4 #7593a0
#define COLOR5 #7595a0
#define COLOR6 #a09a9a
#define COLOR7 #afa19d
#define COLOR8 #bbafa7
#define COLOR9 #c8bcb2
#define COLOR10 #c8beb2
#define COLOR11 #d1beb4
#define COLOR12 #d9c3b9
#define COLOR13 #e0c4bd
#define COLOR14 #e0c1bb
#define COLOR15 #e0c0bb

*.foreground:   #d3d0c8
*.background:   #2d2d2d
*.cursorColor:  #d3d0c8

*.color0:       COLOR0
*.color1:       COLOR1
*.color2:       COLOR2
*.color3:       COLOR3
*.color4:      	COLOR4
*.color5:       COLOR5
*.color6:       COLOR6
*.color7:       COLOR7

*.color8:       COLOR8
*.color9:       COLOR9
*.color10:      COLOR10
*.color11:      COLOR11
*.color12:      COLOR12
*.color13:     	COLOR13
*.color14:      COLOR14
*.color15:      COLOR15
