! jastronauts .Xresources

! fonts 
!URxvt.font: xft:Inconsolata for Powerline:size=18
URxvt.font: xft:Fantasque Sans Mono:size=17
URxvt.letterSpace: 0

! URLs
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

! copy and pasta
URxvt.perl-ext-common: default,clipboard

! misc stuff
URxvt.iso14755: false
URxvt.scrollBar: false
URxvt.internalBorder: 35
URxvt.externalBorder: 0
!URxvt*inheritPixmap:    false

dzen2.font:     xft:Fantasque Sans Mono:size=17 
dzen2.foreground: #87b1c1
dzen2.background: #000000

#define COLOR0 #142014
#define COLOR1 #4ba07e
#define COLOR2 #1e91a0
#define COLOR3 #0e81a0
#define COLOR4 #77a095
#define COLOR5 #3d8ca0
#define COLOR6 #0b83a0
#define COLOR7 #879ea0
#define COLOR8 #307081
#define COLOR9 #a9c1c8
#define COLOR10 #8cb7c8
#define COLOR11 #b4c0cc
#define COLOR12 #d9d1d1
#define COLOR13 #c6d5e0
#define COLOR14 #d7dce0
#define COLOR15 #e0dbd8

#define base00 #2d2d2d
#define base01 #393939
#define base02 #515151
#define base03 #747369
#define base04 #a09f93
#define base05 #d3d0c8
#define base06 #e8e6df
#define base07 #f2f0ec
#define base08 #f2777a
#define base09 #f99157
#define base0A #ffcc66
#define base0B #99cc99
#define base0C #66cccc
#define base0D #6699cc
#define base0E #cc99cc
#define base0F #d27b53

*.foreground:   base05
*.background:   base00
*.cursorColor:  base05

*.color0:       COLOR0
*.color1:       COLOR1
*.color2:       COLOR2
*.color3:       COLOR3
*.color4:      	COLOR4
*.color5:       COLOR5
*.color6:       COLOR6
*.color7:       COLOR7

*.color8:       COLOR8
*.color9:       COLOR9
*.color10:      COLOR10
*.color11:      COLOR11
*.color12:      COLOR12
*.color13:     	COLOR13
*.color14:      COLOR14
*.color15:      COLOR15

*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06
